<h2 class="blog-post-title"><%= post.title %></h2>
<p class="blog-post-meta"><%= I18n.l(post.created_at, format: :short) %> by <a href="#"><%= post.email %></a></p>
<p><%= post.text %></p>
<p>
  <%= link_to vote_post_path(post), remote: true do %>
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
  <% end %>
  <span class="rating-value" id="<%= post.id%>"><%= post.votes.count %></span>
</p>
