<h1>Rafaels news stand!</h1>

<%= link_to 'New post', new_post_path %>

<% if @posts.count > 0 %>
	<h2>Listing news</h2>
	<table cellspacing="15">
  		<tr>
    		<th>Text</th>
    		<th>Date</th>
    		<th>Rating</th>
  	</tr>
 
  	<% @posts.each do |post| %>
   	 	<tr>
     	 	<td><%= post.text %></td>
     	 	<td><%= post.formatted_creation_date %></td>
     	 	<td><%= post.rating %></td>
     	 	<td><%= link_to 'Show', post_path(post) %></td>
   	 	</tr>
 	 	<% end %>
	</table>
<% else %>
	<h2>No news yet..</h2>
<% end %>