<% if @posts.count > 0 %>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-sm-12 blog-main">
        <div class="blog-post">
          <%= render post %>
          <p>
            <% if post.can_moderate(current_user) %>
              <%= link_to 'Show', post_path(post)%>,
              <%= link_to 'Edit', edit_post_path(post) %>,
              <%= link_to 'Delete', post_path(post),
                method: :delete,
                data: { confirm: 'Are you sure?' }
              %>
            <% else %>
              <%= link_to 'Show', post_path(post)%>
            <% end %>
          <p>
          <hr>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <h2>No posts yet..</h2>
  </div>
<% end %>
