<h2 class="blog-post-title"><%= @post.title %></h2>
<p class="blog-post-meta"><%= @post.formatted_creation_date %> by <a href="#"><%= @post.user_email %></a></p>
<p><%= @post.text %></p>
<p>
  <button type="button" class="btn btn-default" aria-label="Left Align" style="background: none; padding: 0; border: none;">
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
   </button> 
  <%= @post.rating %>
</p>
<%= link_to 'Back', posts_path %>
