<!DOCTYPE html>
<html>
<head>
  <title>RafaelsNewsStand</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header container">
    <div class="blog-header">
      <h1 class="blog-title">Rafael's news stand</h1>
      <p class="lead blog-description">Simple rails app</p>
      <% if user_signed_in? %>
        <p align="center">
          <strong><%= link_to 'New post', new_post_path%></strong>
          ·
          <strong><%= link_to 'My posts', action: 'user_index', controller: 'posts', id: current_user.id %></strong>
          ·
          <strong><%= link_to 'All posts', action: 'index', controller: 'posts' %></strong>
        </p>
      <% end %>
    </div>
    <div class="blog-navigation pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
        &nbsp
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-default' %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-default' %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
